* {
  padding: 0px;
  margin: 0px;
}
header,
footer {
  width: 100%;
  height: 10vh;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav,
.article,
.ads {
  height: 78vh;
  margin: 10px 0px;
}
nav {
  width: 19%;
}
.article {
  width: 60%;
}
.ads {
  width: 19%;
}
header,
footer,
nav,
.article,
.ads {
  background-color: yellow;
}
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  nav,
  .article,
  .ads {
    width: 100%;
  }
  .article {
    height: 40vh;
  }
  nav,
  .ads {
    height: 20vh;
  }
}
