* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  margin: 0 auto;
}
.nav {
  width: 1800px;
}
.nav,
.company,
.logo,
.info,
.kuce,
.textover > div,
p {
  display: inline-block;
}
.sendmsg,
.nav {
  font-size: 23px;
}
.name,
.footer {
  font-size: 20px;
}
.button,
.footer,
.sendmsg,
.nameofthehouse {
  text-align: center;
}
.membersinfo > h2,
h4,
p,
.button,
.sendmsg {
  padding-top: 10px;
}
.textover {
  position: absolute;
}
.membersinfo > h2,
h4 {
  font-weight: 300;
}
.nav {
  background-color: white;
  height: 70px;
  width: 100vw;
  position: sticky;
  top: 0px;
  box-shadow: 0px 5px 20px #d1d1d1;
  z-index: 10;
}
.company,
.info {
  margin: 10px 0px 0px 30px;
  padding: 10px 10px 10px 10px;
}
.company:hover,
a:hover {
  background-color: rgb(165, 165, 165);
}
.info {
  margin-right: 30px;
  float: right;
}
a {
  padding: 10px;
  margin-left: 25px;
  text-decoration: none;
  color: black;
}
.container {
  width: 1800px;
}
.mainpic,
.mainpic > img {
  height: 80vh;
}
.mainpic {
  position: relative;
}
.textover > div,
p {
  color: rgba(24, 24, 24, 0.829);
  font-size: 30px;
}
.brtext {
  width: 60px;
  height: 58px;
  padding: 20px 0px 0px 15px;
  margin-right: 10px;
  background-color: rgba(70, 70, 70, 0.363);
  border-radius: 10px;
  box-shadow: 1px 1px 20px #c2c2c2;
}
.textover {
  left: 740px;
  top: 340px;
}
.projects {
  height: 50px;
  margin-top: 60px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 18px;
}
.cards {
  margin-top: 30px;
}
h3 {
  font-size: 30px;
  font-weight: 300;
}
.kuce {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
}
.kuce > img {
  height: 300px;
}
.membersinfo,
.kuce > img {
  width: 430px;
}
.about {
  padding-top: 20px;
  font-size: 20px;
}
.team {
  margin-top: 50px;
}
.membersinfo > h4,
.membersinfo > h1,
.membersinfo > p {
  margin-top: 15px;
}
.membersinfo > h1 {
  font-weight: 100;
}
.membersinfo > h4 {
  font-size: 20px;
  color: rgb(155, 155, 155);
}
.membersinfo > p {
  font-size: 18px;
  margin-bottom: 20px;
}
.button {
  background-color: rgb(231, 231, 231);
  height: 40px;
  font-size: 19px;
}
.button:hover,
.nameofthehouse:hover {
  background-color: rgb(165, 165, 165);
}
.form {
  margin-top: 20px;
}
.name {
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  margin-top: 15px;
  height: 40px;
  color: #8f8f8f;
  padding: 15px 0px 0px 10px;
}
.sendmsg {
  margin: 35px 0px 40px 0px;
  width: 250px;
  height: 40px;
  color: white;
  background-color: black;
}
.sendmsg:hover {
  background-color: #c2c2c2;
  color: black;
}
.endpic {
  margin-top: 10px;
  height: 85vh;
  width: 100%;
}
.footer {
  width: 100vw;
  background-color: black;
  color: white;
  height: 70px;
  padding-top: 40px;
}
.footer > a {
  color: white;
  text-decoration: underline white;
}
.nameofthehouse {
  font-size: 20px;
  width: 200px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.692);
  position: absolute;
  color: white;
  padding-top: 15px;
  border-radius: 5px;
}
