* {
  padding: 0px;
  margin: 0px;
}
.jedan,
.dva,
.tri {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  margin: 5rem;
  display: inline-block;
  animation: animacija;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.jedan {
  animation-delay: 0.3s;
}
.dva {
  animation-delay: 0.6s;
}
.tri {
  animation-delay: 0.9s;
}
@keyframes animacija {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
